* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* #page {
  height: 100%;
  width: 100%;
  background-color: rgb(32, 147, 196);
  display: flex;
  align-items: center;
  justify-content: center;
}
#page1 {
  height: 100%;
  width: 100%;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(107, 146, 167);
  display: flex;
  align-items: center;
  justify-content: center;
}
#box {
  height: 300px;
  width: 300px;
  background-color: crimson;
}

h1 {
  font-size: 60px;
  position: relative;
  background-color: red;
  padding: 10px;
}
h2 {
  font-size: 60px;
  position: relative;
  background-color: yellow;
} */
body {
  overflow-x: hidden;
}

#page1 {
  height: 100%;
  width: 100%;
  background-color: black;
}
#page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(37, 194, 226);
  padding: 20px;
}
#page3 {
  background-color: rgb(37, 194, 226);
  padding: 100px;
  display: flex;
  flex-direction: column;
}

#page2 h1 {
  font-size: 40vw;
  text-transform: uppercase;
}

#blocks {
  display: flex;
  flex-direction: column;
}
.blocks {
  height: 720px;
  width: 560px;
  background-color: red;
}
